<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cvte.protal.sdk" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="cvte_server_ip"
            android:value="http://121.199.53.253"/>

        <meta-data
            android:name="app_key"
            android:value="sglzvz"/>

        <meta-data
            android:name="app_secret"
            android:value="8388ee0f92eb45918752e0f7d83493d7"/>

    </application>

</manifest>
